{% extends 'base.html' %}
{% block content %}
<script src="https://api-maps.yandex.ru/2.1/?apikey=99899981-04ac-4230-bbda-69c5b06c0d88&lang=ru" type="text/javascript"></script>
<div class="map-container">
    <div id="myMap" style="width: 700px; height: 700px; margin: 50px auto;"></div>
</div>
<div class="draw-controls">
    <button id="newZoneBtn">Новая зона</button>
    <button id="saveZoneBtn">Сохранить зону</button>
    <button id="cancelEditBtn">Отмена</button>
</div>
<div id="info">
    <p>Нажмите "Новая зона", затем рисуйте и редактируйте зону на карте.</p>
</div>
<script>
    var myMap;

    ymaps.ready(init);

    function init() {
        myMap = new ymaps.Map("myMap", {
            center: [53.6775, 23.8341],
            zoom: 13,
            controls: ["zoomControl", "fullscreenControl"]
        });
        loadZones()
    }
    async function loadZones() {
        try {
            const response = await fetch('/get_zones');
            const zones = await response.json();

            zones.forEach(zone => {
                if (zone.coords.length >= 3) {
                    var polygon = new ymaps.Polygon([zone.coords], {
                        hintContent: zone.name,
                    }, {
                        fillColor: zone.color,
                        fillOpacity: 0.2,
                        strokeColor: zone.color,
                        strokeWidth: 2,
                        cursor: 'pointer'

                    });
                    myMap.geoObjects.add(polygon);
                    console.log('Тута');
                };
            });
        }
        catch (error) {
            console.error('Ошибка загрузки зон', error)
        }
    }

    async function addZone() {

    }

</script>
{% endblock %}