{% extends 'base.html' %}
{% block content %}
<script src="https://api-maps.yandex.ru/2.1/?apikey=99899981-04ac-4230-bbda-69c5b06c0d88&lang=ru" type="text/javascript"></script>
<div class="map-container">
    <div id="myMap" style="width: 700px; height: 700px; margin: 50px auto;"></div>
</div>
<div class="draw-controls">
    <button id="newZoneBtn">Новая зона</button>
    <button id="saveZoneBtn" disabled>Сохранить зону</button>
    <button id="cancelEditBtn" disabled>Отмена</button>
</div>
<div id="info">
    <p>Нажмите "Новая зона", затем рисуйте и редактируйте зону на карте.</p>
</div>
<script>
    var myMap;
    var isEditing = false;
    var currentPolygon = null;
    ymaps.ready(init);

    function init() {

        myMap = new ymaps.Map("myMap", {
            center: [53.6775, 23.8341],
            zoom: 13,
            controls: ["zoomControl", "fullscreenControl"]
        });
        document.getElementById('newZoneBtn').onclick = createZone;
        document.getElementById('saveZoneBtn').onclick = saveZone;
        document.getElementById('cancelEditBtn').onclick = cancelEditing;
        loadZones()
    }
    async function loadZones() {
        try {
            const response = await fetch('/get_zones');
            const zones = await response.json();

            zones.forEach(zone => {
                if (zone.coords.length >= 3) {
                    var polygon = new ymaps.Polygon([zone.coords], {
                        hintContent: zone.name,
                    }, {
                        fillColor: zone.color,
                        fillOpacity: 0.2,
                        strokeColor: zone.color,
                        strokeWidth: 2,
                        cursor: 'pointer'

                    });
                    polygon.events.add('click', function(e) {
                       e.stopPropagation(); // чтобы не сработал родитель
                        editZone(zone.id, zone.name, zone.coords, polygon, zone.color);
                    });
                    myMap.geoObjects.add(polygon);
                };
            });
        }
        catch (error) {
            console.error('Ошибка загрузки зон', error)
        }
    }

    function createZone() {
        if (isEditing){
            if (confirm('Есть несохраненные зоны. Отменить их?')) {
                cancelEditing();
            }
            else {return;}
        }
        if (currentPolygon) {
            myMap.geoObjects.remove(currentPolygon);
        }
        currentPolygon = new ymaps.Polygon([[
            [53.6775, 23.8341]
            ]], {
                hintContent: "Новая зона"
            }, {
                fillColor: "#2E16B1",
                fillOpacity: 0.3,
                strokeColor: "#180773",
                strokeWidth: 2,
                editorDrawingCursor: 'crosshair',
            }
        );
        myMap.geoObjects.add(currentPolygon);
        currentPolygon.editor.startEditing();
        currentPolygon.isNewZone = true;
        isEditing = true;
        document.getElementById('newZoneBtn').disabled = true;
        document.getElementById('saveZoneBtn').disabled = false;
        document.getElementById('cancelEditBtn').disabled = false;
        document.getElementById('info').innerHTML = '<p>Режим рисования</p>';
    }

    async function saveZone() {
        if (!currentPolygon) return;

        var coords = currentPolygon.geometry.getCoordinates()[0];
        console.log(coords);
        if (coords.length < 3) {
            alert("Зона должна иметь минимум 3 точки!");
            currentPolygon.editor.startEditing();
            return;
        }
        if (currentPolygon.isNewZone) {
            var zoneName = prompt('Введите название зоны:', 'Новая зона')
            if (!zoneName) {
                currentPolygon.editor.startEditing;
                return;
            }
            try {
                const response = await fetch('/save_zone', {
                    method: "POST",
                    headers: {'Content-Type':'application/json'}, //говорим серверу, что это данные в JSON формате
                    body: JSON.stringify({
                        name: zoneName,
                        coords: coords,
                        color: '#28a745'
                    })
                });
                const result = await response.json();
                if (result.error){
                    alert('Ошибка сервера');
                    currentPolygon.editor.startEditing();
                }
            }
            catch (error){
                console.error('Ошибка сохранения зоны', error)
            }
        }
        else {
            var zoneName = prompt('Введите новое название', currentPolygon.editingZoneName)
            if (!zoneName) {
                currentPolygon.editor.startEditing;
                return;
            }
            try {
                const response = await fetch('/update_zone', {
                    method: "POST",
                    headers: {'Content-Type':'application/json'}, //говорим серверу, что это данные в JSON формате
                    body: JSON.stringify({
                        id: currentPolygon.editingZone,
                        name: zoneName,
                        coords: coords,
                        color: currentPolygon.editingZoneColor
                    })
                });
                const result = await response.json();
                if (result.error){
                    alert('Ошибка сервера');
                    currentPolygon.editor.startEditing();
                }
            }
            catch (error){
                console.error('Ошибка изменения зоны', error)
            }
        }
        location.reload();

    }

    function editZone(zoneId, zoneName, zoneCoords, oldPolygon, zoneColor) {
        if (isEditing) {
            if (confirm('Есть несохраненные зоны. Отменить их?')) {
                cancelEditing();
            }
            else { return }

        }
        myMap.geoObjects.remove(oldPolygon);
        var newColor = prompt('Введите цвет для зоны"' + zoneName + '"\nHEX формат (например, #28a745):', zoneColor);
        if (!newColor) {
            newColor = zoneColor
        }
        if (!/^#[0-9A-Fa-f]{6}$/i.test(newColor)) {
            alert('Неверный формат цвета. Используйте HEX формат: #RRGGBB');
            newColor = '#28a745';
        }
        currentPolygon = new ymaps.Polygon([zoneCoords], {
           hintContent: "Редактирование: " + zoneName
        }, {
            fillColor: newColor,
            fillOpacity: 0.3,
            strokeColor: newColor,
            strokeWidth: 3,
            editorDrawingCursor: "crosshair"
        });

        myMap.geoObjects.add(currentPolygon);
        currentPolygon.editor.startEditing();
        currentPolygon.editingZone = zoneId;
        currentPolygon.editingZoneName = zoneName;
        currentPolygon.editingZoneColor = newColor;
        currentPolygon.isNewZone = false;
        isEditing = true;
        document.getElementById('newZoneBtn').disabled = true;
        document.getElementById('saveZoneBtn').disabled = false;
        document.getElementById('cancelEditBtn').disabled = false;
        document.getElementById('info').innerHTML = '<p>Редактирование зоны "' + zoneName + '"</p>';

    }

    function cancelEditing() {
        if (currentPolygon && !isEditing) {
            currentPolygon.editor.stopEditing();
            myMap.geoObjects.remove(currentPolygon);
            currentPolygon = null;
        }
        isEditing = false;

        document.getElementById('newZoneBtn').disabled = false;
        document.getElementById('saveZoneBtn').disabled = true;
        document.getElementById('cancelEditBtn').disabled = true;
        document.getElementById('info').innerHTML = "<p>Нажмите 'Новая зона', затем рисуйте и редактируйте зону на карте.</p>"
    }

</script>
{% endblock %}